body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background: linear-gradient(to top left, #000000, rgba(0,0,0,0.00), #000000), linear-gradient(to top right, #000000, rgba(0,0,0,0.00), #696969) #343434;
   border-radius: 0px;
   box-shadow: 2px 2px 15px #A9A9A9;
   box-sizing: border-box;
}
.DropdownMenu2 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #454545;
   text-align: left;
   text-transform: none;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu2 .nav:before,
.DropdownMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .nav:after 
{
   clear: both;
}
.DropdownMenu2 .nav a 
{
   text-decoration: none;
}
.DropdownMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu2 .container:before,
.DropdownMenu2 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .container:after 
{
   clear: both;
}
.DropdownMenu2 .collapse 
{
   display: none;
}
.DropdownMenu2 .collapse.show 
{
   display: block;
}
.DropdownMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu2 .caret, .DropdownMenu2 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu2 .dropdown 
{
   position: relative;
}
.DropdownMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu2 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #454545;
   text-transform: none;
   white-space: nowrap;
}
.DropdownMenu2 .dropdown-menu > li > a:hover,
.DropdownMenu2 .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .dropdown-menu > li > a.active,
.DropdownMenu2 .dropdown-menu > li > a.active:hover,
.DropdownMenu2 .dropdown-menu > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu2 .show > .dropdown-menu
{
   display: block;
}
.DropdownMenu2 .show > a
{
   outline: 0;
}
.DropdownMenu2 .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu2 .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu2 .nav > li 
{
   position: relative;
   display: block;
}
.DropdownMenu2 .nav > li > a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu2 .nav .show > a,
.DropdownMenu2 .nav .show > a:hover,
.DropdownMenu2 .nav .show > a:focus
{
    border-color: #FFFFFF;
}
.DropdownMenu2 .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .nav .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2
{
   position: relative;
}
.DropdownMenu2:before,
.DropdownMenu2:after
{
   content: " ";
   display: table;
}
.DropdownMenu2:after
{
   clear: both;
}
.DropdownMenu2 .navbar-header:before,
.DropdownMenu2 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu2 .navbar-header:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu2-navbar-collapse:before,
.DropdownMenu2-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu2-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu2 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu2 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu2 .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu2 .navbar-nav > li > a
{
   color: #454545;
}
.DropdownMenu2 .navbar-nav > li > a:hover,
.DropdownMenu2 .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu2 .navbar-nav > li > a.active,
.DropdownMenu2 .navbar-nav > li > a.active:hover,
.DropdownMenu2 .navbar-nav > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu2 .navbar-toggle:hover,
.DropdownMenu2 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu2 .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.DropdownMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu2 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .show > a,
.DropdownMenu2 .navbar-nav > .show > a:hover,
.DropdownMenu2 .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .show > a .caret,
.DropdownMenu2 .navbar-nav > .show > a:hover .caret,
.DropdownMenu2 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #454545;
   border-bottom-color: #454545;
}
.DropdownMenu2 .navbar-link
{
   color: #454545;
}
.DropdownMenu2 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-header
{
   color: #FFFFFF;
}
.DropdownMenu2 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu2 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu2 .navbar-header
{
   float: left;
}
.DropdownMenu2-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu2-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle
{
   display: none;
}
.DropdownMenu2 .navbar-nav
{
   float: left;
   margin: 0;
}
.DropdownMenu2 .navbar-nav > li
{
   float: left;
}
.DropdownMenu2 .container > .navbar-header,
.DropdownMenu2 .container > .DropdownMenu2-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu2 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.DropdownMenu2 .navbar-nav
{
   margin: 0;
   background-color: #F6F6F6;
   background-image: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu > li > a,
.DropdownMenu2 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.DropdownMenu2 .navbar-nav > li > a
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > li > a:hover,
.DropdownMenu2 .navbar-nav > li > a:focus
{
   color: #FFFFFF;
   background-color: #1ABC9C;
   background-image: none;
}
.DropdownMenu2 .navbar-nav > li > a.active,
.DropdownMenu2 .navbar-nav > li > a.active:hover,
.DropdownMenu2 .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #1ABC9C;
   background-image: none;
}
.DropdownMenu2 .navbar-nav > .show > a,
.DropdownMenu2 .navbar-nav > .show > a:hover,
.DropdownMenu2 .navbar-nav > .show > a:focus
{
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > li > a.active > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .show > a .caret,
.DropdownMenu2 .navbar-nav > .show > a:hover .caret,
.DropdownMenu2 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu2 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 25px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: left;
   height: 401px;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_Card7
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_LayoutGrid39
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid39
{
   box-sizing: border-box;
   padding: 20px 25px 20px 25px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid39 > .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid39 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 25px;
   padding-left: 25px;
   position: relative;
}
#LayoutGrid39 > .row > .col-1
{
   float: left;
}
#LayoutGrid39 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid39:before,
#LayoutGrid39:after,
#LayoutGrid39 .row:before,
#LayoutGrid39 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid39:after,
#LayoutGrid39 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid39 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Shape3
{
   width: 112px;
   height: 3px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#wb_Shape3
{
   margin: 0;
   vertical-align: top;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 0 0;
   text-align: center;
}
#Heading6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Card1
{
   display: flex;
   width: 100%;
   z-index: 6;
}
#wb_Shape3
{
   display: inline-block;
   width: 112px;
   height: 3px;
   z-index: 3;
   position: relative;
}
#wb_Image1
{
   position: absolute;
   left: 15px;
   top: 0px;
   width: 100px;
   height: 100px;
   z-index: 0;
}
#PageHeader1
{
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   height: 100px;
   z-index: 7777;
}
#wb_Card2
{
   display: flex;
   width: 100%;
   z-index: 7;
}
#wb_Heading6
{
   display: block;
   width: 100%;
   z-index: 4;
}
#wb_Heading1
{
   display: block;
   width: 100%;
   z-index: 2;
}
#wb_DropdownMenu2
{
   position: absolute;
   left: 149px;
   top: 30px;
   width: 821px;
   height: 40px;
   z-index: 1;
}
#wb_Card7
{
   display: flex;
   width: 100%;
   z-index: 5;
}
@media only screen and (min-width: 1920px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
}
#wb_DropdownMenu2
{
   left: 150px;
   top: 28px;
   width: 1714px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 25px 15px 0 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Card7
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card7
{
   text-align: left;
}
#wb_Card1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card1
{
   text-align: left;
}
#wb_Card2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card2
{
   text-align: left;
}
#wb_LayoutGrid39
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid39
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid39
{
   height: auto;
   padding: 20px 25px 20px 25px;
}
#LayoutGrid39 .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid39 > .row > .col-1
{
   padding-right: 25px;
   padding-left: 25px;
}
#LayoutGrid39 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Image1
{
   left: 13px;
   top: 0px;
   width: 100px;
   height: 100px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
}
#wb_DropdownMenu2
{
   left: 132px;
   top: 28px;
   width: 1122px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 25px 15px 0 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Card7
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card7
{
   text-align: left;
}
#wb_Card1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card1
{
   text-align: left;
}
#wb_Card2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card2
{
   text-align: left;
}
#wb_LayoutGrid39
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid39
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid39
{
   height: auto;
   padding: 20px 25px 20px 25px;
}
#LayoutGrid39 .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid39 > .row > .col-1
{
   padding-right: 25px;
   padding-left: 25px;
}
#LayoutGrid39 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Image1
{
   left: 13px;
   top: 4px;
   width: 93px;
   height: 93px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
}
#wb_DropdownMenu2
{
   left: 128px;
   top: 28px;
   width: 880px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 25px 15px 0 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Card7
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card7
{
   text-align: left;
}
#wb_Card1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card1
{
   text-align: left;
}
#wb_Card2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card2
{
   text-align: left;
}
#wb_LayoutGrid39
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid39
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid39
{
   height: auto;
   padding: 20px 25px 20px 25px;
}
#LayoutGrid39 .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid39 > .row > .col-1
{
   padding-right: 25px;
   padding-left: 25px;
}
#LayoutGrid39 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Image1
{
   left: 10px;
   top: 4px;
   width: 92px;
   height: 92px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
}
#wb_DropdownMenu2
{
   left: 119px;
   top: 28px;
   width: 649px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 25px 15px 0 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Card7
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card7-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card7
{
   text-align: left;
}
#wb_Card1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card1
{
   text-align: left;
}
#wb_Card2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: justify;
}
#wb_Card2
{
   text-align: left;
}
#wb_LayoutGrid39
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid39
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid39
{
   height: auto;
   padding: 20px 25px 20px 25px;
}
#LayoutGrid39 .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid39 > .row > .col-1
{
   padding-right: 25px;
   padding-left: 25px;
}
#LayoutGrid39 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Image1
{
   left: 15px;
   top: 5px;
   width: 91px;
   height: 91px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
