body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: transparent;
   background-image: url('images/Whois_Adresses_IP_et_URL_PageHeader1_bkgrnd.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: scroll;
   background-size: 100% 100%;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
.DropdownMenu2 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #454545;
   text-align: left;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu2 .nav:before,
.DropdownMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .nav:after 
{
   clear: both;
}
.DropdownMenu2 .nav a 
{
   text-decoration: none;
}
.DropdownMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu2 .container:before,
.DropdownMenu2 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .container:after 
{
   clear: both;
}
.DropdownMenu2 .collapse 
{
   display: none;
}
.DropdownMenu2 .collapse.show 
{
   display: block;
}
.DropdownMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu2 .caret, .DropdownMenu2 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu2 .dropdown 
{
   position: relative;
}
.DropdownMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu2 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #454545;
   white-space: nowrap;
}
.DropdownMenu2 .dropdown-menu>li>a:hover,
.DropdownMenu2 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .dropdown-menu>li>a.active,
.DropdownMenu2 .dropdown-menu>li>a.active:hover,
.DropdownMenu2 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu2 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu2 .show>a 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu2 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu2 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu2 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu2 .nav .show>a,
.DropdownMenu2 .nav .show>a:hover,
.DropdownMenu2 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu2 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2
{
   position: relative;
}
.DropdownMenu2:before,
.DropdownMenu2:after
{
   content: " ";
   display: table;
}
.DropdownMenu2:after
{
   clear: both;
}
.DropdownMenu2 .navbar-header:before,
.DropdownMenu2 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu2 .navbar-header:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu2-navbar-collapse:before,
.DropdownMenu2-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu2-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu2 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu2 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu2 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #454545;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu2 .navbar-toggle:hover,
.DropdownMenu2 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu2 .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.DropdownMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #454545;
   border-bottom-color: #454545;
}
.DropdownMenu2 .navbar-link
{
   color: #454545;
}
.DropdownMenu2 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-header
{
   color: #FFFFFF;
}
.DropdownMenu2 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu2 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu2 .navbar-header
{
   float: left;
}
.DropdownMenu2-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu2-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle
{
   display: none;
}
.DropdownMenu2 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu2 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu2 .container>.navbar-header,
.DropdownMenu2 .container>.DropdownMenu2-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.DropdownMenu2 .navbar-nav
{
   margin: 0;
   background-color: #F6F6F6;
   background-image: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu2 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: #1ABC9C;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #1ABC9C;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > li > a.active > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu2 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 746px;
   height: 90px;
   vertical-align: top;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid9 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50px;
   max-width: 50px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 257px;
   height: 39px;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 229px;
   height: 42px;
   vertical-align: top;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 0 0;
   text-align: center;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid6 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid6 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 50px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 0 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   position: absolute;
   left: 15px;
   top: 0px;
   width: 100px;
   height: 100px;
   z-index: 0;
}
#PageHeader1
{
   display: block;
   position: relative;
   text-align: left;
   width: 100%;
   height: 100px;
   z-index: 7777;
}
#wb_Image2
{
   display: inline-block;
   width: 257px;
   height: 39px;
   z-index: 4;
}
#wb_Image3
{
   display: inline-block;
   width: 229px;
   height: 42px;
   z-index: 5;
}
#wb_Image4
{
   display: inline-block;
   width: 746px;
   height: 90px;
   z-index: 6;
}
#wb_Heading7
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_DropdownMenu2
{
   position: absolute;
   left: 149px;
   top: 30px;
   width: 821px;
   height: 40px;
   z-index: 1;
}
@media only screen and (min-width: 1920px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: url('images/Whois_Adresses_IP_et_URL_PageHeader1_bkgrnd1920.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: scroll;
   background-size: 100% 100%;
}
#PageHeader1
{
   width: 100%;
}
#wb_DropdownMenu2
{
   left: 150px;
   top: 28px;
   width: 1714px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image4
{
   width: 738px;
   height: 90px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image4
{
   width: 738px;
   height: 90px;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid9 > .col-1
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-2
{
   display: flex;
   flex-basis: 50px;
   max-width: 50px;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-3
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 15px 0 50px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Image2
{
   width: 257px;
   height: 39px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image2
{
   width: 257px;
   height: 39px;
}
#wb_Image3
{
   width: 251px;
   height: 46px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image3
{
   width: 251px;
   height: 46px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 0;
}
#LayoutGrid5 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 15px 0 25px 0;
}
#LayoutGrid6 > .col-1
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 50px 15px 0 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid8
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   height: auto;
   padding: 0 15px 10px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 13px;
   top: 0px;
   width: 100px;
   height: 100px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: url('images/Whois_Adresses_IP_et_URL_PageHeader1_bkgrnd1280.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: scroll;
   background-size: 100% 100%;
}
#PageHeader1
{
   width: 100%;
}
#wb_DropdownMenu2
{
   left: 132px;
   top: 28px;
   width: 1122px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image4
{
   width: 738px;
   height: 90px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image4
{
   width: 738px;
   height: 90px;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid9 > .col-1
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-2
{
   display: flex;
   flex-basis: 50px;
   max-width: 50px;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-3
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 15px 0 50px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Image2
{
   width: 250px;
   height: 38px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image2
{
   width: 250px;
   height: 38px;
}
#wb_Image3
{
   width: 251px;
   height: 46px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image3
{
   width: 251px;
   height: 46px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 0;
}
#LayoutGrid5 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid6 > .col-1
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 50px 15px 0 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid8
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   height: auto;
   padding: 0 15px 10px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 13px;
   top: 4px;
   width: 93px;
   height: 93px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: url('images/Whois_Adresses_IP_et_URL_PageHeader1_bkgrnd1024.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: scroll;
   background-size: 100% 100%;
}
#PageHeader1
{
   width: 100%;
}
#wb_DropdownMenu2
{
   left: 128px;
   top: 28px;
   width: 880px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image4
{
   width: 738px;
   height: 90px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image4
{
   width: 738px;
   height: 90px;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid9 > .col-1
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-2
{
   display: flex;
   flex-basis: 50px;
   max-width: 50px;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-3
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 15px 0 50px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Image2
{
   width: 250px;
   height: 38px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image2
{
   width: 250px;
   height: 38px;
}
#wb_Image3
{
   width: 251px;
   height: 46px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image3
{
   width: 251px;
   height: 46px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 0;
}
#LayoutGrid5 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid6 > .col-1
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 50px 15px 0 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid8
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   height: auto;
   padding: 0 15px 10px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 10px;
   top: 4px;
   width: 92px;
   height: 92px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 100px;
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: url('images/Whois_Adresses_IP_et_URL_PageHeader1_bkgrnd768.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-attachment: scroll;
   background-size: 100% 100%;
}
#PageHeader1
{
   width: 100%;
}
#wb_DropdownMenu2
{
   left: 119px;
   top: 28px;
   width: 649px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 15px 15px 15px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image4
{
   width: 738px;
   height: 90px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image4
{
   width: 738px;
   height: 90px;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid9 > .col-1
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-2
{
   display: flex;
   flex-basis: 50px;
   max-width: 50px;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-3
{
   display: flex;
   flex-basis:  calc((100% - 50px) / 2);
   max-width:  calc((100% - 50px) / 2);
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 15px 0 50px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Image2
{
   width: 270px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image2
{
   width: 270px;
   height: 42px;
}
#wb_Image3
{
   width: 251px;
   height: 46px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image3
{
   width: 251px;
   height: 46px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 0;
}
#LayoutGrid5 > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 15px 0 15px 0;
}
#LayoutGrid6 > .col-1
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 50px 15px 0 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid8
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   height: auto;
   padding: 0 15px 10px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 15px;
   top: 5px;
   width: 91px;
   height: 91px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    #copyButtonIP {
      margin-top: 10px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
    }
  